.paymentContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(191, 189, 189); */
}
.paymentForm>h2{ 
    font: 1.6rem "Poppins";
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    border-bottom: 0.1px solid #878787;
}

.paymentForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40rem;
    width:20%;
    
    transition:all 0.8s;
    
}
.paymentDiv{
    display:flex;
    align-items: center;
    margin:1rem;
    width:100%;

}
.paymentForm>div>svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.3rem;
    color: rgb(62, 61, 61);
    }

.paymentInput{
    padding: 0.8rem 1.6rem 0.8rem 2.5rem;
    width: 100%;
    font: 2rem "Poppins";
    outline: none;
    box-sizing: border-box;
    border: 1px solid;
}


.paymentButton{
    margin: 2rem;
    border: none;
    background-color: green;
    color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    font: 1rem "Roboto";
    width: 100%;
}
.paymentButton:hover{
    background-color: rgb(4, 79, 4);

}


@media screen and (max-width:600px) {
    .paymentContainer{
        background-color: white;
        margin: 1rem;
    }
    .paymentForm{
        height:100vh;
        width:80%;
    }
}