.productlist{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 1.6rem;
    flex-wrap: wrap;
}

.plantheading{
    font: 3rem "Poppins";
    text-align: center;
    margin: 2rem auto;
    border-bottom: 0.4px solid gray;
    width: 10.8rem;
}

.plantsPage{
    display: flex;
    margin: 1rem 3.4rem;

}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:13.6rem;
    padding: 0;
}

.page-item{
    list-style:none;
    border: 0.1px solid rgba(54, 54, 54, 0.35);
    /* box-shadow: 2.5px 2.5px 2.5px rgba(15,15,15,0.26); */
    padding: 1.8rem 2.5rem;
    transition: 0.3s ease;
    cursor: pointer;
}
.page-item:first-child{
    border-radius: 7.5px 0 0 7.5px;
}
.page-item:last-child{
    border-radius: 0 7.5px 7.5px 0;
}
.page-link{
    text-decoration: none;
    color: black;
    font: 200 1.2rem "Roboto";
}

.page-item:hover{
    background-color:rgb(151, 148, 148);
}

.pageItemActive{
    background-color:rgb(240,198,1);
    background-color: rgb(2, 153, 2);

}
.pageLinkActive{
    color: aliceblue;
}
.selectedCategory{
    color: green;
    font: 200 1.2rem "Roboto";
    margin:1.2rem;
}
.filterBox{
    width:19rem;
    margin:0.4rem 3rem 2rem 2.8rem;
    /* padding: 2rem; */
    /* border: 0.1px solid rgba(54, 54, 54, 0.35); */
    height: 3rem;
}
.categoryList{
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 0.8px solid rgba(54, 54, 54, 0.35);
    border-bottom: 0.8px solid rgba(54, 54, 54, 0.35);

}
.categoryListItems{
    text-decoration: none;
    cursor: pointer;
    padding:0.32rem 2rem;
    font-family: "Roboto";
    transition: 0.3s ease;
}

.categoryListItems:hover{
    color:rgb(240,198,1);
    font-size: 1.52rem;
}
.categoriesPlants{
    padding:0rem;
}
.ratingsPlants{
    margin-top: 2rem;
}
.ratingsPlants{
    display:flex;
    /* align-items:center; */
    justify-content: center;
}
.ratingsPlants>fieldset{
    padding: 1rem;
    border: 1.8px solid rgba(54, 54, 54, 0.35);
    width:19rem;

}
@media screen and (max-width:600px) {
    .plantsPage{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0.5rem;
    }
    .filterBox{
        /* width:19rem; */
         padding:1rem;
        border: 0.1px solid rgba(54, 54, 54, 0.35); 
    }
    .plantheading{
        margin: 2rem auto;
    }
    .productlist{
        margin-top:2rem;
    }
    .pagination{
        margin:2rem;
    }
    .page-link{
        font-size: 1rem;
    }
    .page-item{
        padding:1rem;
    }
}