.about{
    max-height: 100%;
    max-width:90%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    margin: 4rem;
}
.about>h1{
    font: 3rem "Poppins";
    color: green;
    margin: 2rem;
}
.about>p{
    font: 1.5rem "Poppins";
    color: rgb(23, 23, 23);
    /* margin: 2rem; */
}
@media screen and (max-width:600px) {
.about{
    height: 35rem;
    padding: 1rem;
}
.about>h1{
    font-size: 2rem;
}
    
}